@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --mobile: 375px;
    --desktop: 1440px;

    /* Desaturated Dark Cyan */
    --primary-col: hsl(180, 29%, 50%);
    /* Desaturated Dark Cyan with alpha */
    --primary-col-alpha: rgba(91, 164, 164,0.4);

    --netural-col-100: hsl(0, 0%, 100%);

    --netural-col-200: hsl(180, 52%, 96%);
    /* Light Grayish Cyan (Background) */
    --netural-col-300: hsl(180, 31%, 95%);
    /* Light Grayish Cyan (Filter Tablets) */
    --netural-col-400: hsl(180, 8%, 52%);
    /* Dark Grayish Cyan */
    --netural-col-500: hsl(180, 14%, 20%);
    /* Very Dark Grayish */

    --default-font-size: 15px;
    --font-weight-500: 500;
    --font-weight-700: 700;

    --width-section: clamp(80%, 100vw, 40rem);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--netural-col-200);
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: var(--default-font-size);
    font-style: normal;
    margin: 0px;
}

body::before {
    content: '';
    display: block;
    background-image: url("./images/bg-header-desktop.svg");
    background-color: var(--primary-col);
    background-repeat: repeat-x;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 120px;
    z-index: -1;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

button {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: 4px 10px;
}

.main {
    display: grid;
    gap: 2rem;
}

.job-filter {
    background-color: var(--netural-col-100);
    border-radius: 10px;
    box-shadow: 0px 0px 50px 1px var(--primary-col-alpha);
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-inline: auto;
    padding: 1rem 2rem;
    width: var(--width-section);
}

.job-filter-list {
    color: var(--primary-col);
    display: flex;
    gap: 0.5rem;
}

.filter-item {
    align-items: center;
    display: flex;
    font-size: 1.3rem;
    gap: .2rem;
    background-color: var(--netural-col-300);
    padding: 0.1rem 0rem 0.1rem .4rem;
}

.filter-remove-btn {
    background-color: var(--primary-col);
    color: var(--netural-col-100);
    border: none;
    display: grid;
    font-size: 1rem;
    height: 20px;
    place-items: center;
    margin: 0px 0px 0px 0.4rem;
    padding: 0px;
    width: 20px;
}

.filter-clear-btn {
    background-color: transparent;
    color: var(--primary-col);
    border: none;
    display: grid;
    height: 20px;
    padding: 0px 5px;
    place-items: center;
}

.filter-item:hover .filter-remove-btn {
    background-color: var(--netural-col-500);
}


/* Job List */

.jobs-wrapper {
    margin-inline: auto;
    width: var(--width-section);
}

.job-entry {
    align-items: center;
    background-color: var(--netural-col-100);
    border-radius: 10px;
    box-shadow: 0px 0px 50px 1px var(--primary-col-alpha);
    display: grid;
    grid-template-columns: 100px 30% 1fr;
    padding: 1rem 2rem;
}

.job-top, .job-mid, .job-bottom {
    display: flex;
    gap: 1rem;
    padding-block: 4px;
}

.job-bottom li:nth-child(-n+2)::after {
    content: '\2022';
    display: inline;
    padding-inline-start: 1rem;
    position: relative;
}

.job-company {
    color: var(--primary-col);
    font-size: 1.1rem;
    font-weight: var(--font-weight-700);
}

.job-posted {
    color: var(--netural-col-400);
    font-size: 1.1rem;
}

.job-position {
    color: var(--netural-col-500);
    font-size: 1.3rem;
    font-weight: var(--font-weight-700);
}

.job-tags {
    justify-content: flex-end;
    display: flex;
    flex-basis: content;
    gap: 1rem;
}

.job-tag-btn {
    border: none;
    background-color: var(--netural-col-300);
    color: var(--primary-col);
}

.job-tag-btn:hover {
    background-color: var(--primary-col);
    border-radius: 5px;
    color: var(--netural-col-100);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-block: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}